
.box{ width:40%;
    height: 25vh;
    background-color: #333333;
    margin:5%;}

    .div-1{float:left; color:white}
    .div-2{float:right;color: white;}
    .clr{clear:both}
    @media only screen and (max-width:500px) .div-1 .div-2{float: none;}


.remAndEm{font-size: 20px;}
#em {font-size: 1.2em;}
#rem{font-size: 1.2rem;}
:root{font-size: 20px;}

.border-red{border-style: solid; 1px; border-color: red; }
.border-blue{border-style: solid; 1px; border-color:blue;}
.vh-100{height:100vh;}
.h-50{height:50vh;}
div> p{color: blue;}
div + section{ color: green;}
input[type=email] {border-color: red;}